doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title ACCOUNTS
    link(rel="stylesheet" href="app.css")
  body
    #accounts
      #add-property-btn [add]
      #property-modal
        form#property-form
          .property-name
            input(type="text" name="name")
          .property-amount
            input(type="number" name="amount")
          .property-submit-btn
            input(type="submit" value="submit")
      ul#properties
    script(src="app.js")

