@import 'var';
@import 'initialize';
@import 'base';
@import 'layouts';

.active {
  color: red;
}
.history-type {
  &-payment {
    color: red;
  }
  &-receipt {
    color: blue;
  }
  &-transfer {
    color: green;
  }
}
