@import 'var';
@import 'initialize';
@import 'base';

@import 'buttons';
@import 'forms';
@import 'layouts';
@import 'lists';
@import 'tables';
@import 'texts';

@import 'utilities';

.active {
  color: red;
}
.history-type {
  &-payment {
    color: red;
  }
  &-receipt {
    color: blue;
  }
  &-transfer {
    color: green;
  }
}
